body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #111;
}

.inner {
  width: 1140px;
  margin: 0 auto;
  max-width: 100%;
}

.header {
  position: fixed;
  width: 100vw;
  padding: 22px 15px;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 30px 30px 25px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo {
  width: 135px;
  height: 35px;
  flex-shrink: 0;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
}