@use 'variable.scss';
@use 'breakpoint.scss';

.header {
    position: fixed;
    width: 100vw;
    padding: 22px 15px;
    
    @include breakpoint.mq(pc) {
        padding: 30px 30px 25px;
    }
}
.header__inner{
    display: flex;
    align-items: center;
}
.logo {
    width: 135px;
    height: 35px;
    flex-shrink: 0;
}
.nav {
    margin-left: auto;
}
.nav__list {
    display: flex;
}
.nav__item {
}
.nav__link {
}
